.st-copy-to-clipboard-btn {
  display: inline-block;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 0.5rem;
  line-height: 1.6;
  color: solid rgb(200, 200, 200);
  width: 90%;
  height: 40px;
  user-select: none;
  background-color: rgb(200, 200, 200);
  border: 1px solid rgb(200, 200, 200);
  cursor: pointer;
}

.st-copy-to-clipboard-btn:hover {
  border: 2px solid rgb(255, 151, 71);
  color: rgb(0, 0, 0);
}

.st-copy-to-clipboard-btn:active {
  border-color: rgb(255, 151, 71);
  background-color: rgb(255, 151, 71);
  color: rgb(0, 0, 0);
}